[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/acumos-gerrit-face-privacy-filter-committers
	forgeCommitter = group ldap/acumos-gerrit-face-privacy-filter-committers
	push = +force group ldap/acumos-gerrit-face-privacy-filter-committers
	pushMerge = group ldap/acumos-gerrit-face-privacy-filter-committers
[receive]
	requireSignedOffBy = false
	requireChangeId = false
	enableSignedPush = true
	requireSignedPush = false
[project]
	description = acumos example model for face-based privacy filtering (e.g. detect + blur, etc)
